@font-face {
    font-family: lalezar;
    src: url(fonts/Lalezar-Regular.ttf) format("tuetype"),
         url(fonts/Lalezar-Regular.otf) format("opentype")
}

body{
    font-family: lalezar;
    text-align: right;
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:auto;
}

h1{
    margin-bottom: 1.5em;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;

}

input{
    width: 50%;
    padding: 0.8em 5px;
    margin-bottom: 2.8em;
    border: 2px solid #31D0AA;
    border-radius: 13px;
    box-shadow: 0 0 4px  #31d0ab88;
    text-align: right;
    font-family: lalezar;
    font-size: 1em;
}

input:focus{
    box-shadow: inset 2px 2px 10px  #2eb3a359;
    background-color: rgba(211, 211, 211, 0.295);
    outline: none;
    border: 2px solid white;
}

button{
    padding: 10px;
    width: 50%;
    border: 2px solid #2eb3a3;
    border-radius: 13px;
    background-color: #2eb3a3;
    color: white;
    font-weight:bold;
    font-size: large;
    font-family: lalezar;
}